<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="register.css">
    </head>
    <body>
        <section class="container">
            <div class="left-container">
              <img src="../images/images (2).png" alt="Logo">
            </div>s (2).png
            <div class="form-container">
                <h2>Register</h2>
                <form id="myForm">
                  <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Register">
                  </div>
                </form>
                <p>If you are  registered, <a href="../index.html">click here to login</a>.</p>
              </div>
        </section>
        
        <script src="register.js" async defer></script>
    </body>
</html>